<div class="flex-container flex-background">
    
	<div class="flex-item">
	  <img src="../../assets/irctc_logo.png" width="150" height="auto" class="d-inline-block align-top" alt="irctc-logo">
	  <br><br>	
	  <h1 class="display-3">Welcome To IRCTC</h1>
	  <h1>Indian Railway Catering and Tourism Corporation is a subsidiary of the Indian Railways that handles the catering, tourism and online ticketing operations of the Indian railways. It's tagline is "Lifeline of the nation".</h1>
	  <hr class="my-4">
	  <p><b>Customer service:</b> 011 3934 0000</p>
	</div>

</div>