<div class="flex-container">
    
	<div class="flex-item">
	  <img src="../../assets/irctc_logo.png" width="150" height="180" class="d-inline-block align-top" alt="bluebox-logo">
	  <br><br>	
	  <h1 class="display-3">Welcome To IRCTC</h1>
	  <h1>The Next-Gen E-Ticketing System.</h1>
	  <hr class="my-4">
	  <p>Indian Railway Catering and Tourism Corporation is a subsidiary of the Indian Railways that handles the catering, tourism and online ticketing operations of the Indian railways. It's tagline is "Lifeline of the nation".</p>
	</div>

	<p class="lead">
		<b>Customer service:</b> 011 3934 0000
	</p>

</div>