<nav class="navbar fixed-top justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="../../assets/irctc_logo.png" width="auto" height="30" class="d-inline-block align-top" alt="bluebox-logo">
    <font color="#003166"><strong>Indian Railway Catering and Tourism Corporation</strong></font> | Next Generation e-Ticketing System.
  </a>

  <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Sign In</a>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Individual Registration</h1>
    <br>
    <p class="lead">A single username and password gets you into everything in IRCTC. Indian Railway Catering and Tourism Corporation offers a range of services from e-Ticketing, Tourism to Catering and many more.</p>
  </div>
</div>
<div class="flex-parent">
	<h2> Thank you for Signing Up in IRCTC!</h2>
	<br><br>
	<p class="lead">
		<a class="btn btn-primary btn-lg"  routerLink="/" routerLinkActive="active" role="button">Get Started</a>
	</p>
</div>
